@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
body {
    font-size: 14px;
}
@media (max-width: 767px) {
body #container {
    width: 100%;
    }
}
// Hide all ads and items by default
.feed_item {display:none}

// Show only the links to our forum
.feed_item:has(a[href^="https://theleague.us"]){
    padding: 10px 18px;
    display: block;
}
.feed_item_title {
    margin-bottom: 6px;
    font-weight: $headline-font-weight;
    font-size: 16px;
}
.feed_item_title a {
    text-decoration: none;
}

.feed_item_description {
    margin-bottom: 6px;
    font-size: 14px;
}

.feed_item:nth-child(odd) {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.05);
    border-left: 1px solid;
    border-right: 1px solid;
    border: 1px solid;
    padding-block: 8px;
}
td.mb-wrapper {
    margin: 0px -20px;
    display: block;
}


