#championship_plaque {
  .plaqueframe {
        padding: 10px 0;
    border: 1px solid;
    border-radius: 5px;
    background: url(http://www59.myfantasyleague.com/images/wood.jpg);
    border-color: #000;
  }
  .plaqueframe.flex {
    width: auto;
    margin: 0;
  }
  .plaque {
    border: 0px solid;
    color: #999;
    border-color: #030100;
  }
  .plaque div {
    overflow: hidden;
    text-align: center;
    float: left;
    display: inline;
    width: 44%;
    margin-left: 0;
    padding-bottom: 20px;
    margin: 10px 3%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.9) inset;
    padding: 10px 10px;
    line-height: 11px;
    background: rgba(0, 0, 0, 0.67);
  }
  .plaque h2 {
    padding: 10px;
    margin: 10px 20px;
    text-align: center;
    border: 0px solid;
    font-size: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.9) inset;
    display: none;
    border-color: #030100;
    background: rgba(0, 0, 0, 0.67);
    color: #c90;
  }
  .plaque h3 {
    margin: 0;
    font-size: 13px;
    padding: 5px 3px 0 3px;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    background: none;
    color: #c90 !important;
  }
  .plaque h4 {
    margin: 0;
    padding: 5px 6px 0 5px;
    height: 28px;
    font-size: 14px;
    font-family: inherit;
    font-weight: normal;
    text-align: center;
    background: none;
    line-height: 1;
    color: rgba(255, 255, 255, 0.61);
    font-weight: bold;
  }
  .plaque p {
    font-size: 10px;
    font-weight: normal;
    font-family: inherit;
    margin: 0;
    padding: 0 3px;
    text-align: center;
    background: none;
    color: #999;
  }
  /*     Float containers fix - Thanks to: http://www.csscreator.com/attributes/containedfloat.php
=============================== */
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix {
    display: inline-block;
  }
  /* start commented backslash hack */
  * html .clearfix {
    height: 1%;
  }
  .clearfix {
    display: block;
  }
  /* close commented backslash hack */
}
