@use "./globals" as *;

#board_show {
    .ava {
        width: auto;
        height: auto;
        max-width: 300px;
        max-height: 100px;
    }
}

body {
  font-family: $body-font;
  color: $primary-text-color;
  background: $white;
}

a:link,
a:visited {
  color: $link-color;
}

.feed_item:nth-child(odd) {
  background-color: $oddtablerow;
  border-color: $offwhite;
}

.feed_item:nth-child(even) {
  background-color: $eventablerow;
  border-color: $offwhite;
}
