@use "./globals" as *;

table#standings th {
  padding-top: 12px;
}

.standings-nav {
  display: none;
}

.franchiseicon {
  max-width: 100%;
  min-width: 75px;
  height: auto;
}

.homepagemodule.report .divwlt {
  display: none;
}

.homepagemodule.report .strk {
  display: none;
}

#standings, #brief_standings {
  .homepagemodule.report th {
    white-space: nowrap;
  }
}

.homepagecolumn #standings h3, .homepagecolumn #brief_standings h3, .homepagecolumn .homepagemodule caption {
  padding-top: inherit;
  padding-bottom: inherit;
  font-weight: $headline-font-weight;
  text-align: left;
  font-size: 24px;
}


/*Standings*/

.homepagecolumn #brief_standings h3, .homepagecolumn #standings h3 {
  border-bottom: 4px solid;
}

#body_standings {
  caption, h3 {
    padding-top: inherit;
    padding-bottom: inherit;
    font-weight: $body-font-weight;
    text-align: left;
    font-size: 24px;
    padding-left: 12px;
  }
  h3 {
    padding-left: 6px;
  }
  td#division00, td#division01, td#division02, td#division03, td#division04, td#division05, td#division06, td#division07 {
    padding: 6px 0px 2px;
  }
  .h2hw, .h2hl, .h2hpct {
    font-size: 1.1rem;
    font-weight: 700;
    padding-inline: 0.5rem;
}

.h2hw {padding-left: 1.5rem}
.gb {padding-left: .8rem}

.h2hpct {
    border-right: 1px solid #ddd;
    padding-right: .8rem;
}
}

.homepagecolumn td#division00, .homepagecolumn td#division01, .homepagecolumn td#division02, .homepagecolumn td#division03, .homepagecolumn td#division04, .homepagecolumn td#division05, .homepagecolumn td#division06, .homepagecolumn td#division07 {
  padding: 6px 8px 2px;
}

.homepagecolumn #standings caption, .homepagecolumn #brief_standings caption {
  display: none;
}

.nodivisions {
  #standings caption, .homepagecolumn #brief_standings caption {
    display: block;
  }
}

.homepagecolumn #standings h3,
.homepagecolumn #brief_standings h3,
.homepagecolumn .homepagemodule caption {
  background-color: $white;
  font-family: $headline-font;
  color: $primary-color;
}

.homepagecolumn #brief_standings h3,
.homepagecolumn #standings h3 {
  color: $primary-color;
  border-bottom-color: $border-color;
}

#body_standings {
  caption,
  h3 {
    background-color: transparent;
    font-family: $headline-font;
    color: $primary-color;
  }
  th {
    white-space: nowrap;
  }
}
// insert a media query here to handle smaller screens
#body_standings .franchiseicon {
    max-width: 11rem;
    padding-inline:0;
    padding-block: .75rem;
    @media screen and (min-width: 768px) {
        max-width:300px;
      
    }
        @media screen and (min-width: 1200px) {
        max-width:450px;
      
    }
}

#body_standings .th {
    white-space: nowrap;
}
