---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		/* New Black/White/Red Color Scheme */

		--primary-color: #111111;
		--secondary-color: #b22222;
		--accent-color: #9b1616ff;
		--inverse-color: #ffffff;

		--primary-page-bg: #eeeeee;

		--primary-content-bg-color: #ffffff;
		--primary-content-border-color: #dddddd;
		--primary-content-boxshadow-color: #11111128;
		--primary-content-boxshadow-size: 0 0 2px 0;

		--secondary-content-bg-color: #ffffff;
		--secondary-content-border-color: #dddddd;
		--secondary-content-boxshadow-color: #11111128;
		--secondary-content-boxshadow-size: 0 0 2px 0;

		--accent-content-bg-color: #eeeeee;
		--accent-content-border-color: #ff000035;
		--accent-content-text-color: #222222;
		--accent-content-boxshadow-color: #ff000035;
		--accent-content-boxshadow-size: 0 0 2px 0;

		--inverse-content-bg: #111111;
		--inverse-accent-bg: #b22222;

		--primary-link-default-text-color: #111111;
		--primary-link-hover-text-color: #b22222;
		--primary-link-focus-text-color: #b22222;

		--inverse-link-default-text-color: #dddddd;
		--inverse-link-hover-text-color: #b22222;
		--inverse-link-focus-text-color: #b22222;

		--accent-link-default-text-color: #fbbf24;
		--accent-link-hover-text-color: #dea514ff;
		--accent-link-focus-text-color: #dea514ff;

		--primary-btn-default-bg-color: #b22222;
		--primary-btn-hover-bg-color: #9b1616ff;
		--primary-btn-focus-bg-color: #9b1616ff;

		--primary-btn-detault-text-color: #ffffff;
		--primary-btn-hover-text-color: #ffffff;
		--primary-btn-focus-text-color: #ffffff;

		--primary-btn-default-border-color: #222222;
		--primary-btn-hover-border-color: #d0b5b5d7;
		--primary-btn-focus-border-color: #d0b5b5d7;

		--secondary-btn-default-bg-color: #333333;
		--secondary-btn-hover-bg-color: #222222;
		--secondary-btn-focus-bg-color: #111111;

		--secondary-btn-default-border-color: #111111;
		--secondary-btn-hover-border-color: #555555;
		--secondary-btn-focus-border-color: #555555;
		
		--secondary-btn-detault-text-color: #ffffff;
		--secondary-btn-hover-text-color: #ffffff;
		--secondary-btn-focus-text-color: #b22222;

		--inverse-btn-default-bg-color: #dddddd;
		--inverse-btn-hover-bg-color: #b22222;
		--inverse-btn-focus-bg-color: #b22222;
		
		

		--inverse-btn-detault-text-color: #ffffff;
		--inverse-btn-hover-text-color: #b22222;
		--inverse-btn-focus-text-color: #b22222;

		
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--primary-text-color);
		background-color: var(--primary-page-bg);
	}

	body {
		margin: 0;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}


	:global(h1) {
		font-size: var(--font-size-xl);
		color: var(--primary-link-default-text-color);
	}

	:global(h2) {
		font-size: var(--font-size-lg);
		color: var(--primary-link-default-text-color);
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
		background: #f5f5f5;
		padding: 0.125rem 0.25rem;
		border-radius: 0.25rem;
	}

	:global(a) {
		color: var(--primary-link-default-text-color);
		text-decoration: none;
	}

	:global(a:hover) {
		color: var(--primary-link-hover-text-color);
		text-decoration: underline;
	}
	:global(a:focus) {
		color: var(--primary-link-focus-text-color);
		text-decoration: underline;
	}
	main {
		flex: 1;
	}
	main {
		margin-inline: auto;
		margin-block: 0;
		max-width: 1232px;
		display: block;
		width: 100%;
		padding: 1rem 1.5rem 5rem;
	}
	@media (max-width: 768px) {
		main {
			padding: 1rem 1rem 4rem;
		}
	}
</style>
